<footer class="bg-dark text-white py-4 text-center">
    <p class="mb-3">2021@ossamaabdein. All Rights Reserved. Design clone of 20thCenturyStudios.</p>
    <div class="socialMedia">
        <a href="http://www.facebook.com/ossamaabdein" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/ossamaabdein" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.github.com/ossamaabdein" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</footer>