.navbar {
    background-color: #000 !important;
}

.navbar a {
    color: #fff;
    padding: 3px 0 !important;
    margin: 0 10px;
}

.navbar img.logo {
    width: 40px !important;
}

.active {
    border-bottom: 2px solid #fff;
}