
<div class="login">
    <div class="registeration py-5">
        <div class="container mt-5">
            <div class="py-5">
                <h2 class="fw-bolder text-center">Login to access <span> UPCOMING</span> page</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)">
                <div class="formControl">
                    <label for="email">Email:</label>
                    <input formControlName="email" class="form-control" type="text">
                    <div *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched" class="alerts alert alert-danger mt-2 py-1">
                        <p class="mb-0">Email is required</p>
                    </div>
                </div>
                <div class="formControl">
                    <label for="password">Password:</label>
                    <input formControlName="password" class="form-control" type="password">
                    <div *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched" class="alerts alert alert-danger mt-2 py-1">
                        <p class="mb-0">Password is required</p>
                    </div>
                </div>
                <div class="submission">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn bg-primary text-white mt-3">login</button>
                    <div class="mt-4">
                        <span class="">Don't have an account ?! .. <a routerLink="/signup" class="">Signup</a> now</span>            
                    </div>
                </div>
            </form>
            <div *ngIf="error" class="alert errorAlert alert-danger mt-3">{{error}}</div>
        </div>
    </div>
</div>
