.movies {
    min-height: 85vh;
    h2 {
        font-weight: bold;
    }
}

.movieItem {
    padding-bottom: 10px !important;
    .imgContainer {
        position: relative;
        height: 360px;
        .image {
            overflow: hidden;
            border-radius: 3px;
            height: 360px;
        }
        .image img{
            height: 100%;
            cursor: pointer;
            border-radius: 3px;
            -webkit-backface-visibility: hidden; 
            -ms-transform: translateZ(0); /* IE 9 */
            -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0);
            transition: all 0.3s ease-in-out;
        }
        .image img:hover {
            transform: scale(1.05);
        } 
        .title {
            font-size: 1rem;
            font-weight: bold;
            span {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.categoryTabs {
    .nav-tabs {
        border-bottom: none;
    }
    li button {
        background-color: transparent !important;
        border: none;
        color: #495057;
        font-weight: bold;
        padding: 5px 5px;
        margin: auto 10px;
    }
    li button.dark {
        color: #e3e8ec;
    }

    button.active span {
        color: black;
        border-bottom: solid 3px black;
        padding-bottom: 5px;
    }
    li button.dark.active span {
        color: white;
        border-bottom: solid 3px white;
    }
} 

@media (max-width:1000px) {
    .categoryTabs {
        margin-top: 20px !important;
    }

}


