@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    background-color: rgb(241, 242, 243);
}

// Although these Owl styles are related only to home page, they don't work unless put here in global style!
.owl-next, .owl-prev {
    position: absolute;
    top: 50%;
    border-radius: 50% !important;
    padding: 10px !important;
    width: 45px !important;
    height: 45px !important;
    transform: translateY(-100%);
    background-color: #fff !important;
    svg {
        font-size: 22px !important;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        color: black;
    }
}

.owl-next {
    right: -15px;
}

.owl-prev {
    left: -15px;
}

.owl-item {
    padding: 0 12px;
    .title {
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

