<head>
    <link rel="icon" href="assets/film.png">
    <title>Claquette</title> 
    <meta name="keywords" content="movies, tv-shows, shows, show, movie, top rated, coming soon, trend movies">
    <meta name="description" content="a website to search for movies and tv-shows with options like (trends, top-rated, popular, coming soon and now-playing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>


<div id="home" class="pt-5">
    <div class="container mt-5">
        <!-- Start of home header -->
        <div class="header">
            <div class="siteInterface">
                <div class="logo m-auto text-center">
                    <img src="assets/video.png" alt="siteLogo">
                </div>
                <div class="siteName text-center">
                    <h1 class="fw-bolder">CLAQUETTE</h1>
                    <p>Find out your next movie <i class="far fa-smile-wink text-danger"></i></p>
                </div>
            </div>
        </div>
        <!-- End of home header -->

        <!-- Start of Trending Movies Carousel -->
        <div class="TrendingMovies">
            <div class="title py-4 ps-2">
                <h3 class="fw-bolder">TRENDING MOVIES</h3>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of TrendingMovies">
                    <ng-template class="text-center" carouselSlide [id]="movie.id">
                        <div class="imageContainer">
                            <div class="image">
                                <img routerLink='/details/{{movie.id}}' src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" [alt]="movie.alt" [title]="movie.title">
                            </div>
                            <div class="title w-100 mt-1 text-center">
                                <span routerLink='/details/{{movie.id}}' class="">{{movie.title}}</span>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <!-- End of Trending Movies Carousel -->
        
        <!-- Start of Trending Series Carousel -->
        <div class="TrendingSeries pt-4">
            <div class="title py-4 ps-2">
                <h3 class="fw-bolder">TRENDING SERIES</h3>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let show of TrendingTv">
                    <ng-template class="text-center" carouselSlide [id]="show.id">
                        <div class="image">
                            <img routerLink='/tv-details/{{show.id}}' src="https://image.tmdb.org/t/p/w500{{show.poster_path}}" [alt]="show.alt" [title]="show.name">
                        </div>
                        <div class="title w-100 mt-1 text-center">
                            <span routerLink='/tv-details/{{show.id}}' class="">{{show.name}}</span>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>        
        <!-- End of Trending Series Carousel -->
    </div>
</div>
    
    
    